{{#if model.category.rstudio_topic_previews_enabled}}
  {{d-section pageClass="rstudio-topic-article"}}

  <div class="rstudio-tl-item force-show">
    {{#if model.new_topic_form_data.description}}
      <div class="rstudio-tl-description">
        {{model.new_topic_form_data.description}}
      </div>
    {{/if}}

    {{raw "rstudio/tl-info"
      authors=model.new_topic_form_data.authors
      username=model.details.created_by.username
      createdAt=model.created_at
    }}

    {{raw "rstudio/tl-category-tags"
      topic=model
    }}
  </div>
{{/if}}
