.new-topic-form-composer-page {
  #reply-control .category-input {
    li[data-name="Uncategorized"] {
      display: none;
    }
  }

  .new-topic-form {
    margin-top: -5px;

    .ntf-form-field {
      margin-bottom: 5px;
    }
  }
}

.rstudio-tl-item {
  padding: 15px 0;
  display: none;

  &.force-show {
    display: block;
  }

  .rstudio-tl-left {
    flex: 1;
    display: flex;
    flex-direction: column;
  }

  .rstudio-tl-right {
    width: 25%;
    margin-left: 25px;
  }

  .rstudio-tl-category-and-tags {
    margin-top: auto;
  }

  .topic-category .discourse-tags {
    display: block;
    margin-right: 5px;
  }

  .topic-category {
    font-size: .85em;

    > * {
      margin-bottom: 5px;
    }
  }

  .rstudio-tl-description {
    color: $primary-high;
    font-size: 0.9em;
    margin-bottom: 15px;
    text-align: justify;
    font-family: 'Source Sans Pro', sans-serif;
  }

  a.rstudio-tl-description:hover {
    color: $primary-very-high;
  }

  .rstudio-tl-authors {
    color: $primary-very-high;
    margin-right: 10px;
  }

  .rstudio-tl-posted {
    font-size: .9em;
  }

  .rstudio-tl-info {
    color: $primary-medium;
    display: flex;
    align-items: baseline;
    margin-bottom: 1em;
    font-size: .85em;
    flex-wrap: wrap;
  }

  .rstudio-tl-info-sep {
    color: $primary-very-high;
    text-align: right;
  }

  .rstudio-tl-thumbnail {
    background-color: $primary;
    display: block;
    opacity: 0.95;
    border: 1px solid $primary-low;

    &:hover {
      opacity: 1;
    }
  }

  .rstudio-tl-url {
    color: $primary-high;
    font-size: .9em;

    &:hover {
      text-decoration: underline;
    }
  }

  .rstudio-tl-title {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 600;
    padding-top: 0;
  }
}

.rstudio-topic-previews-page:not(.navigation-categories) {
  .rstudio-tl-item {
    display: flex;
    border-bottom: 1px solid $primary-low;

    a.rstudio-tl-title {
      color: $primary;
      padding-top: 0;

      &:visited {
        color: $primary;
      }

      &:hover {
        color: $primary-very-high;
      }
    }
  }

  .topic-list {
    .topic-list-item-separator {
      display: none;
    }

    tr {
      border-bottom: none;
    }
  }
}

.d-header-icons {
  display: flex;
  align-items: center;
  
  .rstudio-links {
    list-style: none;
    margin: 0 5px;
    display: flex;
    align-items: center;
  }
}

.rstudio-news-category-link,
.rstudio-jobs-category-link {
  list-style: none;
  padding: 6px 12px;

  a {
    color: $primary-high;
    font-size: 1.2em;

    &:visited {
      color: $primary-high;
    }

    &:hover {
      color: $primary-very-high;
    }
  }
}

.rstudio-topic-article-page {
  .title-wrapper .topic-category {
    display: none;
  }

  .rstudio-tl-item {
    max-width: 750px;
    padding-bottom: 0;
    padding-top: .5em;

    .rstudio-tl-info {
      text-align: left;
      margin-bottom: 10px;
    }
  }
}

.rstudio-topic-article-editing-page {
  .rstudio-tl-item {
    display: none;
  }
}

.admin-interface {
  li a[href="/admin/plugins/new-topic-form"] {
    display: none;
  }
}

h1.rstudio-news-banner {
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  font-weight: 600;
  font-size: 3em;
  margin: 0;
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  border: 1px solid $primary-low;
  border-radius: 5px;
  background-color: $primary-very-low;
}
