.new-topic-form-composer-page {
  #reply-control {
    min-height: 50vh;

    .wmd-controls {
      height: auto;
      width: 100%;
      margin-top: -17px;

      .d-editor-textarea-wrapper {
        display: flex;
      }
    }

    .composer-fields {
      flex-grow: unset;
      overflow-y: unset;
      overflow-x: unset;
    }

    .composer-fields-outlet.announcements-composer {
      margin-bottom: 15px;
    }

    .composer-fields-outlet.new-topic-form-conn {
      margin-bottom: 22px;
    }

    &.show-preview {
      .wmd-controls {
        width: 50%;
      }
    }
  }
}

.rstudio-tl-item {
  .rstudio-tl-thumbnail {
    img {
      width: 100%;
      height: auto;
    }
  }

  .rstudio-tl-title, .rstudio-tl-description {
    max-width: 650px;
  }

  .rstudio-tl-title {
    font-size: 1.6em;
  }
}

.rstudio-topic-previews-page:not(.navigation-categories) {
  .topic-list {
    thead {
      display: none;
    }

    td {
      display: none;
    }

    tr {
      border-bottom: none;
    }
  }
}

.rstudio-topic-article-page {
  .rstudio-tl-item {
    .rstudio-tl-description {
      font-size: 0.95em;
    }
  }
}
